@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50 dark:bg-gray-900 text-gray-900 dark:text-gray-100;
  @apply min-h-screen flex items-center justify-center;
  @apply antialiased;
}
